$vermelho: red;
$branco: white;
$cinza: gray;

.container{
    background-color: $vermelho;
}

h1 {
    color: $branco;
}

ul.minha-lista{
    list-style-type: nome;
    background-color: $cinza;
    li{
        margin: 0;
        padding: 0;
    }
}
